.search__input {
  width: 94%;
  height: 64px;
  font-family: Roboto;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #1A1B22;
  outline: none;
  border-radius: 100px;
  border: 1px solid #D1D2D6;
  background: #fff !important;
  padding-left: 4%;
}

.search__input::placeholder {
  color:#B6BCBF;
}

@media screen and (max-width: 768px) and (min-width: 321px) {
  .search__input {
    height: 56px;
  }
}

@media screen and (max-width: 320px) {
  .search__input {
    height: 56px;
  }
}
