.search__input {
  width: 100%;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #1A1B22;
  outline: none;
  border-radius: 100px;
  border: 1px solid #D1D2D6;
  background: #fff !important;
  padding-left: 24px;
}

::-webkit-input-placeholder {
  color:#B6BCBF;
}

::-moz-placeholder {
  color:#B6BCBF;
}

:-moz-placeholder {
  color:#B6BCBF;
}

:-ms-input-placeholder {
  color:#B6BCBF;
}
