.commit-history__btn {
  text-align: center;
  vertical-align: middle;
  width: 86%;
  height: 56px;
  border: 1px solid #1A1B22;
  border-radius: 80px;
  margin: auto;
  margin-top: 40px;
}

@media screen and (max-width: 1440px) and (min-width: 421px) {
  .commit-history__btn {
    display: none;
  }
}
