.error-message {
  color: #ff8410;
  font-family: Roboto;
  font-size: 14px;
  line-height: 15px;
  transition: .3s;
  padding: 0px;
  opacity: 0;
}

.input-container__invalid .error-message {
  padding: 10px;
  opacity: 1;
}
