@import url(./__avatar/author__avatar.css);
@import url(./__info/author__info.css);

.author {
  display: flex;
  width: 86%;
  align-items: flex-start;
  margin: auto;
  padding-top: 80px;
  padding-bottom: 80px;
}
