@import url(./__image/search-resul-empty__image.css);
@import url(./subtitled_search-resul-empty/subtitled_search-resul-empty.css);
@import url(./title_search-resul-empty/title_search-resul-empty.css);

.search-resul-empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 374px;
  background: #F5F6F7;
  display: none;
}
