@import url(./__container/searching-results__container.css);
@import url(./__btn-show-more/searching-results__btn-show-more.css);
@import url(./subtitled_card/subtitled_card.css);
@import url(./title_card/title_card.css);

.searching-results {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #F5F6F7;
  width: 100%;
  padding-top: 80px;
  padding-bottom: 80px;
}
