.footer__container {
  display: flex;
  justify-content: space-between;
  width: 62%;
}


@media screen and (max-width: 920px) and (min-width: 731px)  {
  .footer__container  {
    width: 69%;
  }
}

@media screen and (max-width: 730px)  {
  .footer__container {
    width: 100%;
  }
}
