@import url(./title_block-header/title_block-header.css);
@import url(./__link/block-header__link.css);

.block-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 86%;
}
