.subtitled_preloader{
  display: block;
}

.subtitled_preloader:after {
  content: "Идет поиск новостей...";
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  color: #B6BCBF;
  position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
}
