.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1280px;
  margin: 0 auto;
  font-family: Roboto Slab, Roboto, Source Sans Pro, sans-serif;
  background-color: #FFF;
  color: #000;
}
