.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1440px;
  margin: 0 auto;
  font-family: Roboto Slab, Roboto, Source Sans Pro;
  background-color: #FFF;
  color: #000;
}
