@import url(../__data/commit-history__data.css);

.commit-history__card {
  width: 400px;
  min-height: 288px;
  background: #fff;
  border-radius: 16px;
  margin-left: 16px;
}

@media screen and (max-width: 768px) and (min-width: 321px) {
  .commit-history__card {
    width: 336px;
    margin-left: 8px;
  }
}

@media screen and (max-width: 320px) {
  .commit-history__card {
    width: 288px;
    margin-left: 8px;
  }
}
