@import url(./__container/search__container.css);
@import url(./input-container/input-container.css);

.search{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-image: url('../../images/seach-bg.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
}

@media screen and (max-width: 768px) and (min-width: 321px) {
  .search {
    background-image: url('../../images/seach_bg_768.jpg');
  }
}

@media screen and (max-width: 320px) {
  .search {
    background-image: url('../../images/seach_bg_320.jpg');
  }
}
