@import url(./__container/search__container.css);

.search{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  background-image: url('../../images/seach-bg.jpg');
  width: 100%;
  height: 576px;
}
