.subtitled_search-result-empty{
  width: 23%;
  text-align: center;
  color: #B6BCBF !important;
  margin-top: 16px !important;
}

@media screen and (max-width: 768px) and (min-width: 541px) {
  .subtitled_search-result-empty {
    width: 39%;
  }
}

@media screen and (max-width: 540px) and (min-width: 421px){
  .subtitled_search-result-empty {
    width: 50%;
  }
}

@media screen and (max-width: 420px) {
  .subtitled_search-result-empty {
    width: 90%;
  }
}
