@import url(../__quantity_mon/barchart__quantity_mon.css);
@import url(../__quantity_tues/barchart__quantity_tues.css);
@import url(../__quantity_wed/barchart__quantity_wed.css);
@import url(../__quantity_thur/barchart__quantity_thur.css);
@import url(../__quantity_fri/barchart__quantity_fri.css);
@import url(../__quantity_sat/barchart__quantity_sat.css);
@import url(../__quantity_sun/barchart__quantity_sun.css);

.barchart__quantity {
  height: 24px;
  background-color: #2F71E5;
  color: #fff;
  margin-left: 0 !important;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}

.barchart__quantity:first-child {
  margin-top: 0;
}
