@import url(../__value/barchart__value.css);

.barchart__quantity {
  width: 15%;
  height: 24px;
  background-color: #2F71E5;
  color: #fff;
  margin-left: 0 !important;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  display: flex;
  align-items: center;
  letter-spacing: 0.4px;
  text-transform: uppercase;
}

.barchart__quantity:first-child {
  margin-top: 0;
}
