@import url(../commit-history/__container/commit-history__container.css);
@import url(../commit-history/author_commit-history/author_commit-history.css);
@import url(../author/__avatar_github/author__avatar_github.css);

.commit-history {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: #F5F6F7;
}
