@import url(../../node_modules/flickity/css/flickity.css);
@import url(../blocks/info-to-clients/info-to-clients.css);
@import url(../blocks/technology/technology.css);
@import url(../blocks/commit-history/commit-history.css);
@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/main/main.css);
@import url(../blocks/search/search.css);
@import url(../blocks/author/author.css);
@import url(../blocks/footer/footer.css);
@import url(../blocks/fonts/title-m/title-m.css);
@import url(../blocks/fonts/title-s/title-s.css);
@import url(../blocks/fonts/subtitled-m/subtitled-m.css);
@import url(../blocks/fonts/subtitled-s/subtitled-s.css);
@import url(../blocks/fonts/roboto-normal-500/roboto-normal-500.css);
@import url(../blocks/block-header/block-header.css);
@import url(../blocks/header/header.css);
@import url(../blocks/list-item/list-item.css);
@import url(../blocks/logo/logo.css);
@import url(../blocks/menu/menu.css);
@import url(../blocks/link/link.css);
@import url(../blocks/hide/hide.css);
@import url(../blocks/search-result-empty/search-result-empty.css);
@import url(../blocks/open/open.css);
