@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/header/header.css);
@import url(../blocks/menu/menu.css);
@import url(../blocks/logo/logo.css);
@import url(../blocks/list-item/list-item.css);
@import url(../blocks/fonts/title-m/title-m.css);
@import url(../blocks/fonts/subtitled/subtitled.css);
@import url(../blocks/block-header/block-header.css);
@import url(../blocks/author/author.css);
@import url(../../node_modules/flickity/css/flickity.css);
