@import url(../__card/searching-results__card.css);

.searching-results__container {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(32%, 1fr));
  grid-gap: 16px 16px;
  justify-content: center;
  width: 86%;
  margin-top: 64px;
}

@media screen and (max-width: 768px) and (min-width: 651px) {
  .searching-results__container {
    width: 90%;
    margin-top: 32px;
    grid-gap: 8px 8px;
  }
}

/*@media screen and (max-width: 650px) and (min-width: 451px) {
  .searching-results__container {
    grid-template-columns: repeat(2, 1fr);
  }
}*/

@media screen and (max-width: 450px) {
  .searching-results__container {
    grid-template-columns: repeat(1, 1fr);
    grid-column-gap: 8px;
    width: 90%;
    margin-top: 40px;
  }
}
