@import url(../__name-axis_x/barchart__name-axis_x.css);

.barchart__name-axis {
  margin: 0;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: #B6BCBF;
}
