@import url(./__bar-chart/statistics__bar-chart.css);

.statistics {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: #F5F6F7;
  padding-top: 80px;
  padding-bottom: 80px;
}
