.title-m {
  font-family: Roboto Slab;
  font-style: normal;
  font-weight: normal;
  font-size: 40px;
  line-height: 46px;
  color: #1A1B22;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .title-m {
    font-size: 30px;
    line-height: 34px;
  }
}
