@import url(../__y-axis/barchart__y-axis.css);
@import url(../__name-axis/barchart__name-axis.css);
@import url(../__data/barchart__data.css);
@import url(../__item/barchart__item.css);
@import url(../__columns_scale-top/barchart__columns_scale-top.css);

.barchart__columns {
  display: flex;
  justify-content: flex-start;
}
