@import url(../__icon/technology__icon.css);
@import url(../__name/technology__name.css);

.technology__container-icon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-left: 40px;
}
