@import url(./__list-link/header__list-link.css);
@import url(./_active/header__list-link_active.css);

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 86%;
  height: 80px;
  box-shadow: inset 0px -1px 0px #D1D2D6;
  padding-left: 100px;
  padding-right: 101px;
}
